# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# CodeStream ignored files
/../../analysis_of_hydrocarbonoclastic_microbial_communities_under_different_oxygenation_conditions\.idea/codestream.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
